select{
    width:12%;
    padding:0.5rem;
    margin-top:1rem;
    margin-left:0.2%;
    margin-bottom: 1.5%;
    background: #01BC8C;
    border:1px solid #01BC8C;
    color:white;

}
select:active{
    outline:none;
    box-shadow: none;
    font-weight: 700
}
select option:hover{
    background:white;
    color:black;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.my-pretty-chart-container{
    font-family: 'Quicksand', sans-serif;

}
.active{
    color:#01BC8C;
}